
/*****************************/
/* CHANGING SITE COLOURS!!!! */
/*****************************/


/* Update the body background color to manilla */
body {
  background-color: #F5DEB3 !important; 
}

/* Ensure the main content area has the same background color */
.main-content {
  background-color: #F5DEB3 !important; 
}

/* Ensure the sidebar remains green */
.sidebar {
  background-color: #2f523e !important;
  color: #fff;
}

/* Change sidebar links and heading colors to manilla */
.sidebar a,
.sidebar-about h1,
.sidebar-about h2 {
  color: #F5DEB3 !important; 
}

/* Update other sidebar elements to have manilla text color */
.sidebar nav li,
.sidebar nav a {
  color: #F5DEB3 !important; 
}

/* Target "Data Scientist" */
.sidebar-about p {
  color: #F5DEB3 !important; 
}

/* Update the border color of the circle image */
.img-headshot {
  border: 6px solid #F5DEB3 !important; 
  height: 180px;
  width: 180px;
}

/*******************/
/* Link styling */
/*******************/
/* General link styling for all pages */
body .content a,
body .homepage .home-content a {
  color: #016126 !important; /* Ensure the general link color takes precedence */
  text-decoration: none;
  
}

/* Link hover styling for all pages */
body .content a:hover,
body .homepage .home-content a:hover {
  color: #049735 !important; /* Ensure the hover color takes precedence */
  text-decoration: none;
}


/*******************/
/*Columns*/
/*******************/

/* Base styling for columns */
.gdoc-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the gap as needed */
}

.gdoc-columns__content {
  flex: 1 1 calc(50% - 1rem); /* Each column takes up to 50% of the width minus the gap */
  max-width: 50%; 
  box-sizing: border-box;
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
  .gdoc-columns {
    flex-direction: column;
  }
  .gdoc-columns__content {
    flex: 1 1 100%;
    max-width: 100%; /* Ensure full width on mobile view */
  }
}


/*******************/
/*Bookshelf styling*/
/*******************/


.book-wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
    column-count: 4;
    column-gap: 12px;
    padding: 4px;
    border-radius: 15px;
    background-color: #f8e9c9;
    background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  }
  
  .book-items {
    position: relative;
    cursor: default;
    padding: 16px;
    margin: 0;
    display: grid;
    break-inside: avoid;
  }
  
  .main-book-wrap {
    position: relative;
  }
  
  .book-cover {
    position: relative;
  }
  
  .book-cover .book-inside {
    position: absolute;
    width: 90%;
    height: 96%;
    top: 1%;
    left: 16px;
    border: 1px solid grey;
    border-radius: 2px 6px 6px 2px;
    background: white;
    box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
      inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
      inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
      inset -9px 0 0 #dbdbdb;
  }
  
  .book-cover .book-image {
    line-height: 0;
    position: relative;
    border-radius: 2px 6px 6px 2px;
    box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2), 24px 28px 40px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
    cursor: pointer;
    overflow: hidden;
  }
  
  .book-cover .book-image::before {
    content: "";
    display: block;
    padding-top: 150%;  
  }
  
  .book-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px 6px 6px 2px;
    margin-top: 0;
  }
  
  .book-image:hover {
    transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
      20px 14px 16px -6px rgba(0, 0, 0, 0.1);
  }
  
  .effect {
    position: absolute;
    width: 20px;
    height: 100%;
    margin-left: 16px;
    top: 0;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: all 0.5s ease;
    z-index: 5;
  }
  
  .light {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    top: 0;
    right: 0;
    opacity: 0.1;
    transition: all 0.5s ease;
    z-index: 4;
  }
  
  .book-image:hover .effect{
      margin-left: 14px;
  }
  
/***************************/
/* post and project styling*/

  .projects, .posts {
    margin-top: 2em;
  }
  
  .projects h2, .posts h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .project-card, .post-preview {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: #fde9c0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .project-content, .post-content {
    flex: 1;
    padding-right: 1em;
  }
  
  .project-card h3, .post-preview h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  .project-card p, .post-preview p {
    color: #666;
  }
  
  .project-image, .post-image {
    width: 30%;
  }
  
  .project-image img, .post-image img {
    width: 100%;
    border-radius: 5px;
  }
  
  .read-more-link {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  
  .read-more-link a {
    color: #087817; /*087817*/
    text-decoration: none;
  }
  
  .read-more-link a:hover {
    color: #087817;
    text-decoration: underline;
  }
  
  .read-more-link .post-date {
    margin-left: 10px; /* Add space between Read More button and date */
  }
  
  .read-more {
   display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ead09f;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #e2c48b !important; /* Ensure the hover color takes precedence */
    color: #087817 !important; /* Ensure the text color on hover takes precedence */
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-footer .post-date {
    white-space: nowrap;
    font-size: 0.9em;
    color: #757575;
    margin-left: 10px;
  }

/*****************/
/* Dividing Line */
/*****************/

hr.green {
  border: none; /* Remove default border */
  height: 2px; /* Height of the line */
  background-color: #34704e; /* Line color */
  margin: 2rem 0; /* Vertical spacing around the line */
  width: 100%; /* Ensure the line spans the entire width */
}

/***********************************/
/* Style for the about card */
/***********************************/
.about-card {
  background-color: #f8e8c5;
  padding: 0em;
  border-radius: 15px;
  margin-bottom: 1em;
}

.about-card h3 a {
  color: #087817;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.2em; /* Increase the font size for the heading */
  margin: 0; 
  padding-top: 0; 
  padding-left: 0.5em;
}

.about-card h3 a:hover {
  text-decoration: underline;
}

.about-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-card-image {
  flex: 7; /* Increase the flex to make the image take up more space */
  padding-right: 1em;
  padding-left: 1em;
}

.about-card-image img {
  width: 100%;
  border-radius: 15px;
}

.about-card-text {
  flex: 2; /* Adjust flex to shift main text to the right */
  padding-left: 0.5;
}

.about-card-text p {
  color: #666;
  margin: 0;
}


/***********************************/
/* Style for the video game tier list */
/***********************************/
.tierlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.tier-row {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Make sure tier labels stretch to match the game rows */
  gap: 1em;
  padding: 10px;
  background-color: #d3bf9f; 
  border-radius: 7px; 
}

.tier-label {
  font-size: 2em;
  font-weight: bold;
  width: 80px !important; /* Fixed width */
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #f8e9c9;
  border-radius: 7px;
  padding: 10px;
}

/* styles for S tier */
.tier-s .tier-label {
  background-color: #f77b7b;
  color: rgb(0, 0, 0);
}

/* styles for A tier */
.tier-a .tier-label {
  background-color: #fca859; 
  color: black;
}

.tier-games {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.game-case {
  position: relative;
  width: 100px; /* Match tier label size */
  height: 100px; /* Match tier label size */
  cursor: pointer;
}

.game-cover {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.game-image {
  width: 100px; /* Manually set image size */
  height: 100px; /* Manually set image size */
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  transform: rotateY(-15deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-image:hover {
  transform: rotateY(0deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/********************/

.contact-form {
  display: flex !important;
  flex-direction: column !important;
  gap: 1em !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  padding: 2em !important;
  background-color: #fdedcd !important; /* Background color matching your site */
  border-radius: 15px !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) !important;
  border: 2px solid #2f523e !important; /* Border color matching your site */
}

.contact-form label {
  display: flex !important;
  flex-direction: column !important;
  font-weight: bold !important;
  color: #2f523e !important; /* Text color matching your site */
}

.contact-form input,
.contact-form textarea {
  padding: 0.5em !important;
  font-size: 1em !important;
  border: 1px solid #ffffff !important;
  border-radius: 5px !important;
  background-color: #fff !important;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2f523e !important; 
  border-radius: 2px;
  outline: none !important;
}

.contact-form button {
  padding: 0.5em 1em !important;
  font-size: 1em !important;
  background-color: #2f523e !important; 
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.contact-form button:hover {
  background-color: #157123 !important; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: #fff !important; 
  color: #666 !important; 
}

.contact-form textarea {
  resize: vertical !important; 
  min-height: 100px !important;
}

/***********************************/
/* Style for button short code */
/***********************************/
.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ead09f;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: #e2c48b;
}
