{{ define "main" -}}
<section class="posts">
  <h1>{{ .Title }}</h1>
  {{ range .Pages }}
  <div class="project-card">
    <div class="project-content">
      <h3 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
      <p>{{ .Summary }}</p>
      <div class="read-more-link">
        <a href="{{ .Permalink }}" class="read-more">Read More</a>
        {{ if eq .Kind "page" }}
        <time class="nowrap post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ end }}
      </div>
    </div>
    {{ with .Params.image }}
    <div class="project-image">
      <img src="{{ . }}" alt="{{ $.Title }}">
    </div>
    {{ end }}
  </div>
  {{- end }}
</section>
{{- end }}
