{{ define "main" -}}
<div class="homepage">
  {{ if .IsHome }}
    <div class="home-content">
      {{ with .Site.GetPage "homepage/home" }}
        {{ .Content }}
      {{ end }}
    </div>


    <section class="posts">
      <h2>Blog Posts</h2>
      {{ range .Pages }}
      <div class="project-card">
        <div class="project-content">
          <h3 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Summary }}</p>
          <div class="read-more-link">
            <a href="{{ .Permalink }}" class="read-more">Read More</a>
          </div>
        </div>
        <div class="project-image">
          <img src="{{ with .Params.image }}{{ . }}{{ else }}/images/default-project.jpg{{ end }}" alt="{{ .Title }}">
        </div>
      </div>
      {{ end }}
    </section>

    {{ template "_internal/pagination.html" . }}
  {{ end }}
</div>
{{- end }}
