<section class="projects">
  {{ range first 3 (where .Site.RegularPages "Type" "posts") }}
  <a href="{{ .RelPermalink }}" class="project-card card-link">
    <h3 class="project-title">{{ .Title }}</h3>
    <div class="project-body">
      <div class="project-image">
        <img src="{{ with .Params.image }}{{ . }}{{ else }}/images/default-project.jpg{{ end }}" alt="{{ .Title }}">
      </div>
      <div class="project-content">
        <p>{{ .Summary }}</p>
      </div>
    </div>
  </a>
  {{ end }}
</section>
