<div class="tierlist-wrapper">
    {{ range $.Page.Params.tierlist }}
    <div class="tier-row tier-{{ .tier | lower }}">
      <div class="tier-label">{{ .tier }}</div>
      <div class="tier-games">
        {{ range .games }}
        <div class="game-case">
          <div class="game-cover">
            <div class="game-image">
              <img src="{{ .img }}" alt="{{ .title }}">
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
</div>
